name: Deploy Fluxnova release parent

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
  CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref == 'refs/heads/main' && format('ci-default-branch-{0}-{1}', github.sha, github.workflow) ||
    format('ci-pr-{0}-{1}', github.ref, github.workflow) }}
  cancel-in-progress: true

jobs:
  build-and-deploy:
    name: Build and/or Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Java setup
        uses: ./.github/actions/java-setup

      - name: Build
        if: github.ref != 'refs/heads/main'
        run: mvn -B -e clean install

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: mvn -B -e clean deploy -s ./settings.xml
